{% macro modal(ns, url, title, text, confirmButton, cancelButton, size) %}
    <ax-modal v-bind:ns="{{ ns }}" class="position-relative above-navigation">
        <h4 class="text-white mb-0" slot="title" v-text="{{ title }}"></h4>
        <ax-form v-bind:name="{{ ns }}" method="delete"
                 v-bind:action="{{ url }}">
            <div class="d-flex flex-column card-box mb-0">
                <p class="font-13 m-0 text-left">
                    {{ text|raw }}
                </p>
                <div class="d-flex align-items-center justify-content-between mt-3">
                    <ax-toggle-control v-bind:ns="{{ ns }}" class="btn btn-sm btn-outline-secondary">
                        {{ cancelButton ? cancelButton : 'Отмена' }}
                    </ax-toggle-control>
                    <ax-form-button class="btn btn-sm btn-danger w-md"
                                    label="{{ confirmButton ? confirmButton : 'Подтвердить' }}">
                        <span class="fa fa-refresh fa-spin"></span>
                    </ax-form-button>
                </div>
            </div>
        </ax-form>
    </ax-modal>
{% endmacro %}
